.header {
    display: flex;
    background-color: rgba(255,255,255,1);
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    min-width: 320px;
    height: 5rem;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #dadce0;
    

    &-btn {
        margin-left: 1rem;
        display: flex;
        width: 30%;
        justify-content: space-around;
        align-items: center;
    }

    &-btn-create {
        display: flex;
        border-radius: 24px;
        min-height: 48px;
        width: 140px;
        justify-content: center;
        align-items: center;
        border: none;
        font-weight: 500;
        font-size: 14px;
        background-color: #fff;
        box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2), -4px 4px 6px -1px rgba(0, 0, 0, 0.2);    
        &:hover {
            background: #f0f2f5;
            cursor: pointer;
            
        }
    }
    &-btn-img {
        margin-right: 20px;
    }
    
    &-btn-today {
        color: #3c4043;
        background-color: transparent;
        border: 1px solid #dadce0;
        border-radius: 4px;
        box-sizing: border-box;
        height: 40px;
        width: 100px;
        font-weight: 600;
        &:hover {
            background: #f0f2f5;
            cursor: pointer;
            
        }
    }

    &-nav {
        display: flex;
        width: 10%;
        justify-content: space-around;
    }

    &-nav-btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 0;
        background-color: transparent;
        font-size: 25px;
        &:hover {
            background: #f0f2f5;
            cursor: pointer;
            
        }
        
    }
    
    &-date-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 30px;
    }

    &-date {
        margin-left: 16px;
    }
}   

