.popup {
    position: absolute;
    top: 15vh;
    z-index: 1;
    width: 100%;
    height: 90vh;
    //display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 460px;
      min-height: 400px;
      padding: 1rem;
      box-shadow: 2px 2px 38px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      background-color: #fff;
    }
  }
  .name-events {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    &_input {
      border: none;
      border-bottom: 2px solid #0e12e9;
      width: 70%;
      color: #3c4043;
      font-family: Google Sans,Roboto,Arial,sans-serif;
      font-size: 22px;
      padding-bottom: 6px;
    }
    &_btn {
      border: none;
      background-color: transparent;
      color: #a9aeb4;
    }
  }
  .date-events {
    &_input{
      border: none;
      width: 30%;
      color: #3c4043;
      font-size: 12px;
      margin-left: 20px;
    }
    &_input.time-input {
      width: 20%;
      color: #3c4043;
    }
  }
  .description {
    display: flex;
    height: 75px;
    &_textarea__input {
      border: none;
      margin-left: 5px;
      font-size: 12px;
      font-weight: 600;
    }
    &_img {
      margin-right: 16px;
    }
  }
  .btn-container {
      &_form {
      margin-left: 300px;
      background-color:#1a73e8;
      border-radius: 4px;
      border: none;
      height: 35px;
      width: 100px;
      color: #fff;
      font-size: 12px;
      }
  }