.date-container {
    display: grid;
    grid-template-rows: 8rem;
    grid-auto-rows: 5rem;
    grid-template-columns: 5.28rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    border-bottom: 1px solid #dadce0;
}
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dadce0;

    &-of-week {
        margin-top: 10%;
        font-size: 1rem;
        margin-bottom: .7rem;
    }
    &-number {
        font-size: 2.3rem;
        font-weight: 500;
    }
    &-border {
        width: 100%;
        height: 20%;
        border-left: 1px solid #dadce0;
    }
}
.timezone {
    justify-content: flex-end;
}
.time-container {
    // border: 0.4px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
    display: grid;
    grid-template-rows: 5rem;
    grid-auto-rows: 5rem;
    grid-template-columns: 5.8rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    &-1 {
        display: flex;
        // position: relative; 
    }
}
.time-1 {
    left: 10px;
    width: 80%;
    top: -10px;
    display: flex;
    position: relative;
    justify-content: center; 
}
.time-2 {
    width: 20%;
    border-bottom: 1px solid #dadce0;
}
.wrapper-scroll {
   grid-template-rows: 5rem;
}
