.event {
    display: flex;
    width: 100px;
    height: 50px;
    background-color: rgb(0, 132, 255);
    border-radius: 6px;
    color: yellowgreen;
    justify-content: center;
    align-items: center;
  }